services:
  web:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: stampcalc
    env_file:
    - .env
    ports:
      - "${PORT}:${PORT}"
    restart: unless-stopped
