services:
  web:
    build:
      context: .
      dockerfile: docker/backend.dockerfile
      args:
        - PORT=${PORT}
      container_name: stampcalc
    ports:
      - "${PORT}:${PORT}"
    env_file:
    - .env
    restart: unless-stopped
