@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geistSans);
  --font-mono: var(--font-geistMono);
  --font-nunitoSans: var(--font-nunitoSans);
  --font-caveatBrush: var(--font-caveatBrush);
  --font-robotoMono: var(--font-robotoMono);
  --font-manRope: var(--font-manRope);
  --font-bricolageGrotesque: var(--font-bricolageGrotesque);

}
@theme {
    --dark-mode:class;
    --color-uspsBlue: #0050A0;
    --color-accentYellow: #FFCC00;
    --color-uspsYellow: #FFCC00;
    --color-midnightIndigo:#0f172a;
    --color-lightPurple: #0f172a;
    --color-duskyBlue: #1e293b;
    --color-outlineColor: #60a5fa;
    --color-midnightViolet: #383b73;
    --color-skyBlue: #60a5fa;
    --color-vibrantBlue: #a78bfa;
    --color-formBox1: #1e293b;
    --color-formBox2: #27272a;
    --color-backgroundColor: #FAFBFD;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Remove number input spinners */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}